html, body {
    width: 100% !important;
    height: 100% !important;
}

#root, .show-fake-browser, .rs-container {
    width: 100% !important;
    height: 100% !important;
}

.ant-layout-sider-children .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
}

.ant-layout-header {
    background: #fff !important;
}

.site-layout-sub-header-background {
    background: #fff;
}

.site-layout-background {
    background: #fff;
}